<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Durga News</h1>
             <a href="/movies" class="btn btn-md btn-primary" target="_blank">Movies</a>
             <a href="/politics" class="btn btn-md btn-success" target="_blank">Politics</a>
             <a href="/sports" class="btn btn-md btn-danger" target="_blank">Sports</a>
        </div>
    </div>
</body>
</html>